<div class="col-10 offset-1 about">
  <h1>About splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jyoon66/">James Yoon</a>. A simple dude who just wants to learn how to build cool stuff with code.
  </p>
  <br />
  <p>
    Solving problems in the world and helping people is his drive and passion.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'james.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">James Yoon</h2>
      <br />
      <p>
        James Yoon is a recent college graduate with a passion for fiddling with gadgets and learning about technology to better the world.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
